<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-4">
          <div>
              <p><strong>Barista Name</strong>: <%= user.userName %></p>
              <a href="/logout" class="col-3 btn btn-primary">Clock Out</a>
          </div>
      </div>
      <div class="col-4">
        <h3>Incomplete Orders</h3>
        <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-center border border-primary">
            <a href="/post/<%= posts[i]._id%>">
              <p class="m-0"><%= posts[i].title%></p>
              <p class="m-0"><%= posts[i].caption%></p>
            </a>
          </li>
        <% } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <!-- <a class="btn btn-primary" href="/feed">Show All Orders</a> -->
        </div>  
      </div>
      <div class="col-4">
        <h3>Completed Orders</h3>
        <ul class="row list-unstyled">
        <!-- <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-1 border border-primary">
            <p class="m-0"><%= posts[i].title%></p>
            <p class="m-0"><%= posts[i].caption%></p>
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %> -->
        </ul>
        <div class="row justify-content-center mt-5">
          <!-- <a class="btn btn-primary" href="/feed">Show All Orders</a> -->
        </div>  
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>